/* View mode */
.viewTemplate {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.viewTemplate label {
  margin-right: auto;
}

.viewTemplate input {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.5rem;
}

.viewTemplate svg {
  width: 48px;
  height: 48px;
}
.viewTemplate svg:first-of-type {
  margin-right: 0.5rem;
}

.viewTemplate svg:nth-of-type(2) {
  /* color: beige; */
}

/* Editing mode */
.editingTemplate {
}

.editingTemplate input {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.editingTemplate button:first-of-type {
  margin-right: 0.5rem;
}
