.form {
  margin: 1rem 0;
}

.form label {
  display: inline-block;
}

.form input {
  width: 100%;
  padding: 0.65rem;
  margin-bottom: 0.75rem;
}

.form button {
  width: 100%;
  padding: 0.9rem 1.2rem;
  font-size: inherit;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
}

.form button:hover,
.form button:focus {
  background-color: #4338ca;
}
