*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button {
  display: inline-block;
  cursor: pointer;
}
